{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}
    Ice Cream ERP | Admin
{% endblock %}

{% block branding %}
    {{ block.super }}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">Ice Cream ERP</a>
    </h1>
{% endblock %}

{% block nav-global %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <footer>
        <p>&copy; 2024 Ice Cream ERP. All Rights Reserved.</p>
    </footer>
{% endblock %}
